* {box-sizing: border-box; margin: 0;}

.card {width: 400px; background: white;}

.card__content {
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 1s;background: red;
-webkit-perspective: 1000;
    perspective: 1000;

transform-style: preserve-3d;
    
}
.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    padding: 2em;
    backface-visibility: hidden;
}
.card__front{
 
}
.card__back{transform: rotateY(.5turn);background: blue; 
}

.card:hover .card__content{transform: rotateY(.5turn);
}
.card__title{font-size: 3em;  transform: translateZ(1em);
    }
.card__subtitle{font-size: 1em;  transform: translateZ(1em);
    }


#inner{transform: perspective(294px) 
           translate3d(-63px, 113px, 0px) 
           scale3d(1.4, 1.25, 1.25) 
           rotate3d(24, 47, 56, 6deg);

transform-origin: 71% 72% 60%;

transform-style: preserve-3d;}